.navbar{
	width: 100%
}

.body-small{
	width: 800px;
	margin:0 auto;
}

.body-test{
	text-align: center;
}

#button {
    background:none!important;
     border:none; 
     padding:0!important;
     color:#069;
     cursor:pointer;
}