.navbar{
	width: 100%
}

.body-small{
	width: 800px;
	margin:0 auto;
}

.body-test{
	text-align: center;
}

.container {
    width: 1920px;
    height: 1080px;
    background-image: url("ggdc_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
	background-attachment: fixed;
    
}​

#button {
    background:none!important;
     border:none; 
     padding:0!important;
     color:#069;
     cursor:pointer;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
